<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Panda Test Demo">
    <test name="Independent Test Parallel" parallel="classes">
        <classes>
            <class name="refactored.test.PageObjectVerifyLoginTest"/><!--login test-->
            <class name="refactored.test.PageObjectVerifyTheItemsInMobileListTest"/><!--1-->
            <class name="refactored.test.PageObjectVerifyCostOfProductTest"/><!--2-->
            <class name="refactored.test.PageObjectVerifyShoppingCartTest"/><!--3-->
            <class name="refactored.test.PageObjectVerifyTheComparePopUpWindowTest"/><!--4-->
            <class name="refactored.test.PageObjectVerifyWishlistTest"/><!--5-->
            <class name="refactored.test.PageObjectVerifySortFunctionalityWorksAsExpectedTest"/><!--4+-->
        </classes>
    </test>

    <test name="Dependent test - no parallel">
        <classes>
            <class name="refactored.test.PageObjectVerifyPurchaseOfAProductTest"/><!--6-->
            <class name="refactored.test.PageObjectVerifyChangeOrReorderPreviouslyAddedProductTest"/><!--8-->
        </classes>
    </test>

</suite>